<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Q & A</title>
  <link rel="stylesheet" href="./static/style.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <nav class="title-nav">
      <h1>Q & A</h1>
      {% if not is_auth %}
      <a href="/auth/login">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% if is_auth %}
    <span>{{ user.name }}</span>
    <img src="{{ user.avatar_url }}" />
    {% endif %}
  </main>
  <!-- <script src="index.js"></script> -->
</body>

</html>
